@model IEnumerable<SiteLixeiras.Models.EnderecoEntrega>

<h2>Escolha um Endereço de Entrega</h2>


@if (!Model.Any())
{
    <div>
        Nenhum endereço cadastrado.
        <a href="@Url.Action("Create", "EnderecoEntregas")">Cadastrar Endereço</a>
    </div>
}
else
{
    <form asp-action="FinalizarPedido" method="post">
        @foreach (var endereco in Model)
        {
            <div>
                <input type="radio" name="enderecoId" value="@endereco.EnderecoEntregaId" required />
                <label>@endereco.Rua, @endereco.Numero - @endereco.Cidade / @endereco.Estado</label>
            </div>
        }
        <button class="btn btn-primary" type="submit">Ir para o Pagamento</button>
    </form>
}
<script>
    @if (TempData["Mensagem"] != null)
    {
        <text>
                alert('@TempData["Mensagem"]');
        </text>
    })
</script>