@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> _userManager
@inject SignInManager<IdentityUser> _signInManager

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

@if (_signInManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="Logout" method="post" class="navbar-left" id="logoutForm">
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-left">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    @User.Identity.Name
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                    <li>
                        <span class="dropdown-item-text">
                            <strong>Usuário:</strong> @User.Identity.Name
                        </span>
                    </li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li>
                        <span class="dropdown-item-text">
                            <strong>Email:</strong> @(_userManager.GetEmailAsync(await _userManager.GetUserAsync(User)).Result)
                        </span>
                    </li>

                    @* Mostra apenas se estiver na role "User" *@
                    @if (User.IsInRole("User"))
                    {
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li>
                            <a class="dropdown-item" asp-controller="Pedidos" asp-action="HistoricoPedidos">
                                <i class="fa-solid fa-box-archive me-2"></i> Histórico de Pedidos
                            </a>
                        </li>
                    }

                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li>
                        <button type="submit" class="dropdown-item rounded-pill bg-danger text-light">
                            Desconectar
                        </button>
                    </li>
                </ul>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-left">
        <li class="nav-item">
            <a class="navbar-link text-white btn btn-outline-secondary rounded-pill"
               asp-controller="Account"
               asp-action="Login"
               asp-route-returnUrl="@($"{Context.Request.Path}{Context.Request.QueryString}")">
                <i class="fa-solid fa-circle-user fa-2x"></i>
            </a>
        </li>
    </ul>
}
